# dependencies
/user-app/node_modules
/user-app/.pnp
.pnp.js

# testing
/user-app/coverage

# production
/user-app/build

# dependencies
/countries-app/node_modules
/countries-app/.pnp
.pnp.js

# testing
/countries-app/coverage

# production
/countries-app/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*